 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Back31.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 5044px;
}

.u-section-1 .u-image-1 {
  width: 1233px;
  height: 568px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px -93px 0 auto;
}

.u-section-1 .u-image-2 {
  height: 2320px;
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -2270px 30px 0 65px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  line-height: 1.6;
  margin: 209px 110px 0;
}

.u-section-1 .u-social-icons-1 {
  height: 57px;
  min-height: 16px;
  width: 191px;
  min-width: 68px;
  margin: -3854px 30px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 57px;
}

.u-section-1 .u-icon-2 {
  height: 57px;
}

.u-section-1 .u-icon-3 {
  height: 57px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 3850px 684px 0 110px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 1.125rem;
  margin: 29px auto 60px 110px;
  padding: 5px 57px 6px 55px;
}

.u-section-1 .u-icon-4 {
  vertical-align: -2px;
  font-size: 1.4445em;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4943px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 433px;
    margin-top: 50px;
    margin-right: -80px;
  }

  .u-section-1 .u-image-2 {
    height: 1904px;
    margin-top: 36px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -1859px;
    margin-right: 28px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 169px;
    margin-right: 28px;
    margin-left: 69px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 50px;
    width: 170px;
    margin-top: -4013px;
    margin-right: 34px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 4038px;
    margin-right: 525px;
    margin-left: 69px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 36px;
    margin-bottom: 0;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5322px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 332px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 1715px;
    width: 820px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -1652px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 146px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    height: 43px;
    width: 150px;
    margin-top: -4492px;
    margin-right: -25px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 4517px;
    margin-right: 374px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3576px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 249px;
  }

  .u-section-1 .u-image-2 {
    height: 1310px;
    width: 640px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -1277px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 162px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 35px;
    width: 126px;
    margin-top: -2786px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2850px;
    margin-right: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3509px;
  }

  .u-section-1 .u-image-1 {
    height: 157px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 859px;
    width: 440px;
    margin-top: 38px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -847px;
    margin-left: -21px;
    margin-right: -21px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 81px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 31px;
    width: 114px;
    margin-top: -2879px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2919px;
    margin-right: 0;
  }
}