 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Back31.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2310px;
}

.u-section-1 .u-image-1 {
  width: 1233px;
  height: 612px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px -93px 0 auto;
}

.u-section-1 .u-image-2 {
  height: 1680px;
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -1612px 29px 0 66px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 191px 73px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 53px 728px 0 66px;
}

.u-section-1 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 152px;
  min-width: 68px;
  margin: -1053px 48px 0 auto;
}

.u-section-1 .u-icon-4 {
  height: 44px;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-5 {
  height: 44px;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-6 {
  height: 44px;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 1.125rem;
  margin: 1027px auto 60px 66px;
  padding: 5px 56px 6px;
}

.u-section-1 .u-icon-7 {
  vertical-align: -2px;
  font-size: 1.4445em;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2109px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 467px;
    margin-top: 50px;
    margin-right: -50px;
  }

  .u-section-1 .u-image-2 {
    height: 1400px;
    margin-top: 36px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: -1326px;
    margin-right: 28px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 140px;
    margin-right: 28px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 75px;
    margin-right: 525px;
    margin-left: 69px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -1168px;
    margin-right: 28px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1170px;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1974px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 358px;
    margin-top: 46px;
    margin-right: -20px;
  }

  .u-section-1 .u-image-2 {
    height: 1236px;
    width: 820px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1180px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 122px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 68px;
    margin-right: 374px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -1190px;
    margin-right: -20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1182px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1517px;
  }

  .u-section-1 .u-image-1 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 884px;
    width: 640px;
    margin-top: 24px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -859px;
    margin-right: -38px;
    margin-left: -13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 93px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 50px;
    margin-right: 194px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 33px;
    width: 119px;
    margin-top: -880px;
    margin-right: -30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 883px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-1 .u-image-1 {
    height: 169px;
    margin-top: 32px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 629px;
    width: 440px;
    margin-top: 42px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -612px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 32px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    height: 28px;
    width: 104px;
    margin-top: -1440px;
    margin-right: -29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1444px;
  }
}