 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Back31.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1749px;
}

.u-section-1 .u-image-1 {
  width: 1268px;
  height: 612px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px -93px 0 auto;
}

.u-section-1 .u-image-2 {
  height: 1091px;
  margin-top: 29px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -1037px 29px 0 66px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 243px 73px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 49px 721px 0 73px;
}

.u-section-1 .u-social-icons-1 {
  height: 44px;
  min-height: 16px;
  width: 152px;
  min-width: 68px;
  margin: -403px 49px 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 44px;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  height: 44px;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  height: 44px;
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 1.125rem;
  margin: 388px auto 60px 73px;
  padding: 5px 56px 6px;
}

.u-section-1 .u-icon-4 {
  vertical-align: -2px;
  font-size: 1.4445em;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1403px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 454px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 903px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -848px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 216px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 60px;
    margin-right: 544px;
    margin-left: 50px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -431px;
    margin-right: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 404px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 348px;
  }

  .u-section-1 .u-image-2 {
    width: 820px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -818px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 186px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 374px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -397px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 370px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-1 .u-image-1 {
    height: 261px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    height: 627px;
    width: 640px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -588px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 132px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 40px;
    margin-right: 194px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 36px;
    width: 129px;
    margin-top: -300px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-image-1 {
    height: 164px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 476px;
    width: 440px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -437px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 68px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 29px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    height: 26px;
    width: 99px;
    margin-top: -366px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 353px;
    margin-bottom: 50px;
  }
}