.u-section-1 .u-sheet-1 {
  min-height: 395px;
}

.u-section-1 .u-icon-1 {
  width: 54px;
  height: 54px;
  transition-duration: 0.75s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 43px 245px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -53px 725px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -42px 0 0 905px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-countdown-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 31px;
  margin: 24px 983px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    --animation-custom_in-scale: 1;
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 525px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 705px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 783px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-top: 44px;
    margin-right: 246px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -54px;
    margin-right: 305px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -41px;
    margin-left: 485px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 18px;
    margin-bottom: 52px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 563px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-top: -131px;
    margin-right: 185px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: 125px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 272px;
    margin-left: 305px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -257px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 105px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -254px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 183px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 507px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 130px 529px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 25px 529px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: 133px;
    margin-right: 444px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 22px;
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 130px;
    margin-right: 242px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 25px;
    margin-right: 242px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 57px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 24px;
    margin-right: 57px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 107px 0 0 504px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 11px 60px 504px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 396px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 176px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 176px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 217px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 17px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 17px;
  }
}