 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 217px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 24px auto 53px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: url("images/f1a3315166fc8cba51bafdb4cda0ab65fb539cb02c8f2f4754135acce8ed66802513beecc223f7ca7918644cb47eaf6467c114ce3fcf79db687351_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 734px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 270px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 73px;
  margin-left: 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 60px;
}.u-section-4 .u-sheet-1 {
  min-height: 2150px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 275%;
  left: -88%;
  height: 100%;
  top: 0%;
}

@media (max-width: 1199px) {
  .u-section-4 .embed-responsive-1 {
    width: 407%;
    left: -153%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .embed-responsive-1 {
    width: 531%;
    left: -215%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .embed-responsive-1 {
    width: 708%;
    left: -304%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .embed-responsive-1 {
    width: 1124%;
    left: -512%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 166px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  width: 860px;
  margin: 10px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 22px auto 57px 140px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 88px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1893px;
}

.u-section-6 .u-table-1 {
  width: 1342px;
  margin: 49px -101px 0;
}

.u-block-0b4d-49 {
  background-image: none;
}

.u-section-6 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
  background-image: none;
}

.u-section-6 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
}

.u-section-6 .u-table-cell-2 {
  background-image: none;
}

.u-section-6 .u-table-cell-3 {
  background-image: none;
}

.u-section-6 .u-table-cell-4 {
  background-image: none;
}

.u-section-6 .u-table-body-1 {
  line-height: 1.6;
  background-image: none;
  font-size: 1.25rem;
}

.u-section-6 .u-icon-1 {
  font-size: 3.5em;
}

.u-section-6 .u-icon-2 {
  font-size: 3.5em;
}

.u-section-6 .u-icon-3 {
  font-size: 3.5em;
}

.u-section-6 .u-table-cell-10 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-6 .u-table-cell-11 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-6 .u-table-cell-12 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-6 .u-icon-7 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-8 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-9 {
  font-size: 1.75em;
}

.u-section-6 .u-table-cell-18 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-table-cell-19 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-table-cell-20 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-table-cell-22 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-table-cell-23 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-table-cell-24 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-6 .u-icon-16 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-17 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-18 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-19 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-20 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-21 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-22 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-23 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-24 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-25 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-26 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-27 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-28 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-29 {
  font-size: 1.75em;
}

.u-section-6 .u-icon-30 {
  font-size: 1.75em;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-6 .u-icon-31 {
  font-size: 4.4em;
}

.u-section-6 .u-icon-32 {
  font-size: 4.4em;
}

.u-block-0b4d-35 {
  background-image: none;
}

.u-section-6 .u-video-1 {
  width: 334px;
  height: 228px;
  margin: -252px auto 0 188px;
}

.u-section-6 .embed-responsive-1 {
  position: absolute;
}

.u-section-6 .u-video-2 {
  width: 334px;
  height: 228px;
  margin: -228px 254px 0 auto;
}

.u-section-6 .embed-responsive-2 {
  position: absolute;
}

.u-section-6 .u-video-3 {
  width: 334px;
  height: 228px;
  margin: -228px -93px 0 auto;
}

.u-section-6 .embed-responsive-3 {
  position: absolute;
}

.u-section-6 .u-image-1 {
  width: 349px;
  height: 79px;
  margin: -399px auto 0 181px;
}

.u-section-6 .u-image-2 {
  width: 349px;
  height: 133px;
  margin: -89px 254px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 332px;
  height: 60px;
  margin: -133px -93px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-table-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-table-1 {
    width: 540px;
  }

  .u-section-6 .u-table-cell-10 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-table-cell-11 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-table-cell-12 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-video-2 {
    margin-right: 206px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 191px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1887px;
  }

  .u-section-6 .u-table-1 {
    width: 340px;
  }

  .u-section-6 .u-table-cell-10 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-table-cell-11 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-table-cell-12 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-video-1 {
    margin-left: 6px;
  }

  .u-section-6 .u-video-2 {
    margin-right: 6px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 77px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 129px;
    margin-top: -87px;
    margin-right: 0;
  }

  .u-section-6 .u-image-3 {
    margin-top: -129px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  margin: 17px auto 60px;
} .u-section-8 {
  background-image: none;
  min-height: 641px;
}

.u-section-8 .u-list-1 {
  width: 708px;
  margin: 53px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 534px;
  grid-gap: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-8 .u-image-1 {
  height: 336px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 27px auto 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-8 .u-image-2 {
  height: 336px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 87.98% 50%;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-8 .u-social-icons-2 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 27px auto 0;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-icon-6 {
  height: 100%;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-8 .u-image-3 {
  height: 336px;
  object-position: 50% 94.17%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-8 .u-social-icons-3 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 27px auto 0;
}

.u-section-8 .u-icon-7 {
  height: 100%;
}

.u-section-8 .u-icon-8 {
  height: 100%;
}

.u-section-8 .u-icon-9 {
  height: 100%;
}

.u-section-8 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 372px);
  min-height: 641px;
  height: auto;
  margin: -588px auto 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-8 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 562px;
  }

  .u-section-8 .u-list-1 {
    width: 647px;
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-repeater-1 {
    min-height: 519px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-8 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-8 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-container-layout-3 {
    padding-bottom: 21px;
  }

  .u-section-8 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 293px);
    min-height: 563px;
    margin-top: -540px;
    height: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding: 27px 30px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1807px;
  }

  .u-section-8 .u-list-1 {
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1073px;
  }

  .u-section-8 .u-image-1 {
    height: 521px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 23px;
  }

  .u-section-8 .u-image-2 {
    height: 521px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: 23px;
  }

  .u-section-8 .u-image-3 {
    height: 521px;
  }

  .u-section-8 .u-social-icons-3 {
    margin-top: 23px;
  }

  .u-section-8 .u-group-1 {
    width: 720px;
    min-height: 369px;
    margin-top: 10px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 2682px;
  }

  .u-section-8 .u-list-1 {
    height: auto;
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-8 .u-image-1 {
    height: 562px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 20px;
  }

  .u-section-8 .u-image-2 {
    height: 562px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: 20px;
  }

  .u-section-8 .u-image-3 {
    height: 562px;
    object-position: 50% 37.47%;
  }

  .u-section-8 .u-social-icons-3 {
    margin-top: 20px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
    min-height: 420px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1777px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    height: 346px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 23px;
  }

  .u-section-8 .u-image-2 {
    height: 346px;
  }

  .u-section-8 .u-social-icons-2 {
    margin-top: 23px;
  }

  .u-section-8 .u-image-3 {
    height: 346px;
  }

  .u-section-8 .u-social-icons-3 {
    margin-top: 23px;
  }

  .u-section-8 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 632px;
  margin-bottom: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 46px auto 0 0;
}

.u-section-9 .u-gallery-1 {
  height: 375px;
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-9 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-9 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}